/.venv/
/simulator-key.pem
./simulator/.env
/simulator/config.json
/simulator/config_hierarchy.json
/simulator/config_iot_devices.json
/simulator/config_credentials.json
./input/config_credentials.json
/sdks/
~/.pulumi/**
